//
// Found on the Web by Googling keywords.
//

#include "resource.h"

IDI_ICON ICON DISCARDABLE "pwing.ico"

MAINMENU MENU DISCARDABLE
{
POPUP "&File" {
      MENUITEM "&Open", MNU_OPEN
      MENUITEM "&Save", MNU_SAVE
      MENUITEM "Save &As", MNU_SAVEAS
      MENUITEM SEPARATOR
      MENUITEM "&Export 24-bit Bitmap", MNU_EXPORTBMP
      MENUITEM SEPARATOR
      MENUITEM "E&xit", MNU_QUIT
}
POPUP "&Mode" {
      MENUITEM "&Viewer", MNU_VIEWER
      MENUITEM "&Tiles", MNU_TILES
      MENUITEM "&Pointers", MNU_POINTERS
      MENUITEM "&Sprites", MNU_SPRITES
      MENUITEM "St&arting Space", MNU_START_SPACES
      MENUITEM "Airs&hip Retreat Points", MNU_AIRSHIP
      MENUITEM "P&ipes", MNU_PIPES
      MENUITEM "&Locks", MNU_LOCKS
      //MENUITEM SEPARATOR
      //MENUITEM "&Basic Editor", MNU_BASIC_EDITOR
}
MENUITEM "Implement Changes (&Do Before World/Mode Change)", MNU_IMPLEMENT
}

IDD_STAGESELECT DIALOG DISCARDABLE 0, 0, 240, 200
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Select Stage"
FONT 8, "MS Sans Serif"
{
LTEXT            "Worlds:", IDC_STATIC, 10, 10, 65, 10
LISTBOX          IDC_WORLDS, 10, 20, 65, 140, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | 
                 LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP
LTEXT            "Levels:", IDC_STATIC, 85, 10, 105, 10
LISTBOX          IDC_LEVELS, 85, 20, 105, 140, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | 
                 LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP
LTEXT            "Object Set:", IDC_STATIC, 10, 170, 70, 10
COMBOBOX         IDC_OBJSET, 10, 180, 70, 200, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
                 WS_VSCROLL | WS_TABSTOP
LTEXT            "Object Data:", IDC_STATIC, 90, 170, 45, 10
EDITTEXT         IDC_OBJDATA, 90, 180, 45, 12, ES_LEFT | ES_NOHIDESEL
LTEXT            "Enemy Data:", IDC_STATIC, 145, 170, 45, 10
EDITTEXT         IDC_SPRDATA, 145, 180, 45, 12, ES_LEFT | ES_NOHIDESEL
DEFPUSHBUTTON    "&OK", IDOK, 200, 140, 30, 20, WS_TABSTOP
PUSHBUTTON       "&Cancel", IDCANCEL, 200, 170, 30, 20, WS_TABSTOP
}

//IDD_BASIC_EDITOR DIALOG DISCARDABLE 0, 0, 220, 240
/*IDD_BASIC_EDITOR DIALOG DISCARDABLE 0, 0, 220, 70
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Basic Editor"
FONT 8, "MS Sans Serif"
{
LTEXT            "Pal Number:", IDC_STATIC, 10, 10, 40, 10
EDITTEXT         IDC_PALNUM, 10, 20, 30, 12, ES_LEFT | ES_NOHIDESEL
LTEXT            "Animation Rate:", IDC_STATIC, 60, 10, 60, 10
EDITTEXT         IDC_ANIMRATEA, 60, 20, 30, 12, ES_LEFT | ES_NOHIDESEL
EDITTEXT         IDC_ANIMRATEB, 100, 20, 30, 12, ES_LEFT | ES_NOHIDESEL
EDITTEXT         IDC_ANIMRATEC, 140, 20, 30, 12, ES_LEFT | ES_NOHIDESEL
EDITTEXT         IDC_ANIMRATED, 180, 20, 30, 12, ES_LEFT | ES_NOHIDESEL
LTEXT            "Music1st:", IDC_STATIC, 10, 40, 30, 10
EDITTEXT         IDC_FIRSTMUSIC, 10, 50, 30, 12, ES_LEFT | ES_NOHIDESEL
LTEXT            "Music:", IDC_STATIC, 50, 40, 30, 10
EDITTEXT         IDC_DURINGMUSIC, 50, 50, 30, 12, ES_LEFT| ES_NOHIDESEL
PUSHBUTTON       "&Apply", IDC_APPLY, 100, 40, 30, 20, WS_TABSTOP
DEFPUSHBUTTON    "&OK", IDOK, 140, 40, 30, 20, WS_TABSTOP
PUSHBUTTON       "&Cancel", IDCANCEL, 180, 40, 30, 20, WS_TABSTOP
//LTEXT            "Edit Palette:", IDC_STATIC, 10, 70, 50, 10
//LISTBOX          IDC_PALSELECT, 10, 80, 50, 150, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | 
//                 LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
}*/

IDD_SPRITE_EDITOR DIALOG DISCARDABLE 0, 0, 140, 100
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Edit Sprite"
FONT 8, "MS Sans Serif"
{
LTEXT            "Type:", IDC_STATIC, 10, 10, 120, 10
COMBOBOX         IDC_SPRTYPES, 10, 20, 120, 200, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
                 WS_VSCROLL | WS_TABSTOP
LTEXT            "Item:", IDC_STATIC, 10, 40, 120, 10
COMBOBOX         IDC_SPRITEMS, 10, 50, 120, 200, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
                 WS_VSCROLL | WS_TABSTOP
DEFPUSHBUTTON    "&OK", IDOK, 60, 70, 30, 20, WS_TABSTOP
PUSHBUTTON       "&Cancel", IDCANCEL, 100, 70, 30, 20, WS_TABSTOP
}

IDD_LOCK_EDITOR DIALOG DISCARDABLE 0, 0, 120, 170
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Edit Lock"
FONT 8, "MS Sans Serif"
{
LTEXT            "Tile Kind:", IDC_STATIC, 10, 10, 100, 10
COMBOBOX         IDC_LOCKTILE, 10, 20, 100, 50, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
                 WS_VSCROLL | WS_TABSTOP
AUTOCHECKBOX     "Make Lock Unused", IDC_UNUSED, 10, 40, 100, 10, WS_TABSTOP
LTEXT            "Lock Number:", IDC_STATIC, 10, 60, 50, 10
PUSHBUTTON       "&BoomBoom", IDC_BOOMBOOM, 65, 50, 40, 20
LISTBOX          IDC_LOCKLIST, 10, 70, 100, 60, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | 
                 WS_HSCROLL | WS_VSCROLL | WS_TABSTOP
DEFPUSHBUTTON    "&OK", IDOK, 40, 140, 30, 20, WS_TABSTOP
PUSHBUTTON       "&Cancel", IDCANCEL, 80, 140, 30, 20, WS_TABSTOP
}

/*IDD_PIPE_EDITOR DIALOG DISCARDABLE 0, 0, 140, 170
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Edit Pipe Stage Linkups"
FONT 8, "MS Sans Serif"
{
LTEXT            "Pipe Stages:", IDC_STATIC, 10, 10, 120, 10
COMBOBOX         IDC_PIPE_STAGES, 10, 20, 120, 50, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
                 WS_VSCROLL | WS_TABSTOP
LTEXT            "Pipe Numbers:", IDC_STATIC, 10, 40, 120, 10
LISTBOX          IDC_PIPE_NUMS, 10, 50, 120, 50, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | 
                 WS_HSCROLL | WS_VSCROLL | WS_TABSTOP
PUSHBUTTON       "Set Stage To &Pipe Num", IDC_SET_STAGE, 25, 110, 80, 20, WS_TABSTOP
DEFPUSHBUTTON    "&OK", IDOK, 60, 140, 30, 20, WS_TABSTOP
PUSHBUTTON       "&Cancel", IDCANCEL, 100, 140, 30, 20, WS_TABSTOP
}*/

IDD_TOOLBOX DIALOGEX DISCARDABLE 280, 0, 176, 208
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Tiles"
FONT 8, "MS Sans Serif"
{
CTEXT "", IDC_TLTEXT, 8, 168, 160, 32, SS_NOPREFIX
}