//
// Found on the Web by Googling keywords.
//

/****************************************************************************


WINLIN.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "winlin.h"
LINDLG DIALOG 10, 30, 400, 300
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME 
CLASS "cVecClass"
CAPTION "Lineaarikuvaus"
MENU MENU1
FONT 8, "MS Sans Serif"
{
}


TYOKALUT DIALOG 5, 20, 394, 48
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 CONTROL "K&uutio", KUUTIO, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 1, 0, 23, 23
 CONTROL "&Ellipsi", ELLIPSI, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 24, 0, 23, 23
 CONTROL "Paraa&b", PARAAB, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 47, 0, 23, 23
 CONTROL "z-spi&r", ZSPIR, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 70, 0, 23, 23
 CONTROL "y-&spir", YSPIR, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 93, 0, 23, 23
 CONTROL "Kol&Mio", KOLMIO, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 116, 0, 23, 23
 CONTROL "M&Ökki", MOKKI, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 139, 0, 23, 23
 CONTROL "&Oma", OMA, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 162, 0, 23, 23
 CONTROL "&1-p", YKSIP, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 190, 0, 23, 23
 CONTROL "&2-p", KAKSIP, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 213, 0, 23, 23
 CONTROL "&3-p", KOLMEP, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 236, 0, 23, 23
 DEFPUSHBUTTON "&Kuvaa", KUVAA, 270, 0, 32, 23
 PUSHBUTTON "&Lopeta", LOPETA, 330, 0, 32, 23
 PUSHBUTTON "Po&ista", POISTA, 1, 24, 23, 23
 CONTROL "&X", X_KIERTO, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 24, 24, 23, 23
 CONTROL "&Y", Y_KIERTO, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 47, 24, 23, 23
 CONTROL "&Z", Z_KIERTO, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 70, 24, 23, 23
 PUSHBUTTON "&Paluu", PALUU, 93, 24, 23, 23
 CONTROL "&+", ISONNA, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 116, 24, 23, 23
 CONTROL "&-", PIENENNA, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 139, 24, 23, 23
 PUSHBUTTON "Z-back", ZOOM_BACK, 162, 24, 23, 23
 CONTROL "I-mat", I_MATR, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 190, 24, 23, 23
 PUSHBUTTON "Laskin", LASKIN, 213, 24, 23, 23
 CONTROL "1", IDC_ZKOORD, "EDIT", ES_RIGHT | WS_BORDER | WS_TABSTOP, 238, 35, 25, 11
 CTEXT "z-koord:", -1, 238, 23, 25, 11
 CONTROL "", VARI, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 272, 24, 23, 23
}

MATDLG DIALOG 181, -221, 96, 41
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "KERTOIMET"
FONT 8, "MS Sans Serif"
{
 CONTROL "" ,IDC_EDIT11,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,5, 5, 20, 11
 CONTROL "" ,IDC_EDIT12,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER, 27,5, 20, 11
 CONTROL "" ,IDC_EDIT13,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,49,5, 20, 11
 CONTROL "" ,IDC_EDIT14,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,71,5, 20, 11
 CONTROL "" ,IDC_EDIT21,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,5, 17,20, 11
 CONTROL "" ,IDC_EDIT22,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,27,17,20, 11
 CONTROL "" ,IDC_EDIT23,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,49,17,20, 11
 CONTROL "" ,IDC_EDIT24,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,71,17,20, 11
 CONTROL "" ,IDC_EDIT31,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,5, 29,20, 11
 CONTROL "" ,IDC_EDIT32,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,27,29,20, 11
 CONTROL "" ,IDC_EDIT33,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,49,29,20, 11
 CONTROL "" ,IDC_EDIT34,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,71,29,20, 11
 CONTROL "" ,IDC_EDIT41,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,5, 41,20, 11
 CONTROL "" ,IDC_EDIT42,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,27,41,20, 11
 CONTROL "" ,IDC_EDIT43,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,49,41,20, 11
 CONTROL "" ,IDC_EDIT44,"EDIT", ES_AUTOHSCROLL | WS_CHILD |WS_VISIBLE | ES_LEFT | WS_BORDER,71,41,20, 11
}

PIKA ACCELERATORS
{
 "i", POISTA, ASCII
 VK_RIGHT, OIKEALLE, VIRTKEY
 VK_LEFT, VASEMMALLE, VIRTKEY
 VK_UP, YLOS, VIRTKEY
 VK_DOWN, ALAS, VIRTKEY
 VK_TAB, MATRIISIIN, VIRTKEY
 "+", ISONNA, ASCII
 "_", PIENENNA, ASCII
 "l", LOPETA, ASCII
 "k", KUVAA, ASCII
 "p", PALUU, ASCII
 "v", OMA, ASCII
 "e", ELLIPSI, ASCII
 "b", PARAAB, ASCII
 "m", KOLMIO, ASCII
 "ö", MOKKI, ASCII
 "u", KUUTIO, ASCII
 "r", ZSPIR, ASCII
 "s", YSPIR, ASCII
 "x", X_KIERTO, ASCII
 "y", Y_KIERTO, ASCII
 "z", Z_KIERTO, ASCII
 "X", X_NEG, ASCII
 "Y", Y_NEG, ASCII
 "Z", Z_NEG, ASCII
}

MENU1 MENU
{
 POPUP "&Tiedosto"
 {
  MENUITEM "&Lopeta", LOPETA
 }

 POPUP "&Valmiit kuvaukset"
 {
  MENUITEM "&Kierto", CM_KIERTO
  MENUITEM "&Siirto", CM_SIIRTO
  MENUITEM "&Vääntö", CM_VAANTO
 }

 POPUP "&Dimensio"
 {
  MENUITEM "&2x2", CM_2D
  MENUITEM "&3x3", CM_3D
  MENUITEM "&4x4", CM_4D
 }

 POPUP "V&ärit"
 {
  MENUITEM "&Vihreä", CM_VIHREA, CHECKED
  MENUITEM "&Punainen", CM_PUNAINEN
  MENUITEM "V&ioletti", CM_VIOLETTI
  MENUITEM "&Keltainen", CM_KELTAINEN
  MENUITEM "&Sininen", CM_SININEN
  MENUITEM "&Turkoosi", CM_TURKOOSI
  MENUITEM "V&alkoinen", CM_VALKOINEN
  MENUITEM "T&ummanvihreä", CM_TUMMANVIHREA
 }

 POPUP "V&erkko"
 {
  MENUITEM "&Näkyy", CM_NAKYY
 }

 POPUP "&Apua", HELP
 {
  MENUITEM "&Avustus", AVUSTUS
  MENUITEM "&Ohjelmasta", OHJELMASTA
 }

}

MENU1 ACCELERATORS
{
 VK_TAB, OHJELMASTA, VIRTKEY
}

IKONI ICON "ht.ico"

MOKKI1 BITMAP "mokki.bmp"
KUUTIO1 BITMAP "kuutio.bmp"
TAUSTA BITMAP "ht.bmp"
KOLMIO1 BITMAP "kolmio.bmp"
ELLIPSI1 BITMAP "ellipsi.bmp"
PARAAB1 BITMAP "paraabel.bmp"
YSPIR1 BITMAP "zspir.bmp"
ZSPIR1 BITMAP "yspir.bmp"
PISTE1 BITMAP "pist1.bmp"
PISTE2 BITMAP "pist2.bmp"
PISTE3 BITMAP "pist3.bmp"
XKIERTO1 BITMAP "kiertox.bmp"
ZKIERTO1 BITMAP "kiertoy.bmp"
YKIERTO1 BITMAP "kiertoz.bmp"
ZOOMOUT BITMAP "zoomin.bmp"
ZOOMIN BITMAP "zoomout.bmp"
I_MATRIX2 BITMAP "id.bmp"
ELLIPSI2 BITMAP "elllip2.bmp"
I_MATRIX1 BITMAP "id2.bmp"
KOLMIO2 BITMAP "kolm2.bmp"
KUUTIO2 BITMAP "kuutio2.bmp"
PARAAB2 BITMAP "par2.bmp"
PISTE12 BITMAP "piste12.bmp"
PISTE22 BITMAP "piste22.bmp"
PISTE32 BITMAP "piste32.bmp"
MOKKI2 BITMAP "mokki2.bmp"
XKIERTO2 BITMAP "xkier2.bmp"
ZKIERTO2 BITMAP "ykier2.bmp"
YKIERTO2 BITMAP "zkier2.bmp"
ZOOMIN2 BITMAP "zoomi2.bmp"
ZOOMOUT2 BITMAP "zoomo2.bmp"
YSPIR2 BITMAP "ysp2.bmp"
ZSPIR2 BITMAP "zspi2.bmp"
VIIVA BITMAP "viiva.bmp"
VIIVA2 BITMAP "viiva2.bmp"

KIERROT DIALOG 5, 18, 161, 110
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Kierto"
FONT 8, "MS Sans Serif"
{
 CONTROL "&X-akseli", IDC_RADIOX, "BUTTON", WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON , 92, 5, 60, 12
 CONTROL "&Y-akseli", IDC_RADIOY, "BUTTON", WS_VISIBLE | WS_TABSTOP |BS_AUTORADIOBUTTON, 92, 34, 60, 12
 CONTROL "&Z-akseli", IDC_RADIOZ, "BUTTON", WS_VISIBLE | WS_TABSTOP |BS_AUTORADIOBUTTON, 92, 64, 60, 12
 LTEXT "&Kiertokulma:", -1, 16, 13, 50, 10, WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_KULMA, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 28, 30, 13
 CONTROL "&Matriisiin sijoitus", IDC_CHECKBOX_SIJOITA, "BUTTON", BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP, 17, 59, 66, 21
 DEFPUSHBUTTON "&OK", IDC_OK, 33, 82, 38, 19
 PUSHBUTTON "&Peruuta", IDC_PERUUTA, 91, 82, 38, 19
}

VIHREA BITMAP "vihrea.bmp"
PUNAINEN BITMAP "punainen.bmp"
VIOLETTI BITMAP "violetti.bmp"
KELTAINEN BITMAP "keltanen.bmp"
SININEN BITMAP "sininen.bmp"
TURKOOSI BITMAP "turkoosi.bmp"
VALKOINEN BITMAP "valkonen.bmp"
TVIHREA BITMAP "tvihrea.bmp"


SIIRTO DIALOG 6, 15, 167, 119
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Siirto"
FONT 8, "MS Sans Serif"
{
 LTEXT "&x-akseli", -1, 51, 28, 61, 13,WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_XSIIRTO,"EDIT",WS_VISIBLE | WS_TABSTOP | WS_CHILD  | ES_LEFT | WS_BORDER, 16, 28, 30, 13
 LTEXT "&y-akseli", -1, 51, 45, 61, 13,WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_YSIIRTO,"EDIT",WS_VISIBLE | WS_TABSTOP | WS_CHILD  | ES_LEFT | WS_BORDER, 16, 45, 30, 13
 LTEXT "&z-akseli", IDC_ZTEXTS,51, 62, 61, 13,WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_ZSIIRTO,"EDIT",WS_VISIBLE | WS_TABSTOP | WS_CHILD | ES_LEFT | WS_BORDER, 16, 62, 30, 13
 CONTROL "&Matriisiin sijoitus", IDC_CHECKBOX_SIIRTO,"BUTTON", BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP, 17, 99, 66, 21
 DEFPUSHBUTTON "&OK", IDC_OKSIIRTO, 121, 17, 40, 22
 PUSHBUTTON "&Peruuta", IDC_PERUUTAS, 121, 53, 40, 22
}


VAANTO DIALOG 6, 15, 167, 119
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Vääntö"
FONT 8, "MS Sans Serif"
{
 LTEXT "&x-akseli", -1, 51, 28, 61, 13,WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_XVAANTO,"EDIT",WS_VISIBLE | WS_CHILD | WS_TABSTOP | ES_LEFT | WS_BORDER, 16, 28, 30, 13
 LTEXT "&y-akseli", -1, 51, 45, 61, 13,WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_YVAANTO,"EDIT",WS_VISIBLE | WS_CHILD | WS_TABSTOP | ES_LEFT | WS_BORDER, 16, 45, 30, 13
 LTEXT "&z-akseli", IDC_ZTEXTV, 51, 62, 61, 13,WS_CHILD | WS_VISIBLE
 CONTROL "", IDC_ZVAANTO,"EDIT",WS_VISIBLE | WS_CHILD | WS_TABSTOP | ES_LEFT | WS_BORDER, 16, 62, 30, 13
 CONTROL "&Matriisin sijoitus", IDC_CHECKBOX_VAANTO,"BUTTON",  BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP, 17, 99, 66, 21
 DEFPUSHBUTTON "&OK", IDC_OKVAANTO, 121, 17, 40, 22
 PUSHBUTTON "&Peruuta", IDC_PERUUTAV, 121, 53, 40, 22
}



CUR_KUUTIO CURSOR "kuutio.cur"
CUR_ELLIPSI CURSOR "ellipsi.cur"
CUR_PARAABELI CURSOR "paraab.cur"
CUR_SPIRAALI CURSOR "spiraali.cur"
CUR_KOLMIO CURSOR "kolmio.cur"
CUR_MOKKI CURSOR "mokki.cur"
