/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040904b0"
	BEGIN
	    VALUE "CompanyName", "Max 5\0"
	    VALUE "FileDescription", "beep\0"
	    VALUE "FileVersion", "1, 0, 0, 1\0"
	    VALUE "InternalName", "beep\0"
	    VALUE "LegalCopyright", "Copyright © 1998\0"
	    VALUE "OriginalFilename", "beep.dll\0"
	    VALUE "ProductName", "Max 5 beep\0"
	    VALUE "ProductVersion", "1, 0, 0, 1\0"
			VALUE "OLESelfRegister", ""
	END
    END
    BLOCK "VarFileInfo"
    BEGIN
	VALUE "Translation", 0x409, 1200
    END
END


1 TypeLib "beep.tlb"

